# macOS

.DS_Store
Thumbs.db

# Windows

[Dd]esktop.ini

# Vitepress

docs/.vitepress/.temp/
docs/.vitepress/cache/
docs/.vitepress/dist/

# Vite

.vite_opt_cache/

# Node.js

node_modules/
package-lock.json
npm-debug.log*

# Yarn

yarn.lock

# PNPM

pnpm-global
pnpm-lock.yaml

# Sublime Text / Project workspace files

*.sublime-workspace
